html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  background-color: #ecf2f8;
  padding: 4rem 1.5rem;
  font-size: 0.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
blockquote,
h2,
h3,
p {
  margin: 0;
}

main {
  display: grid;
}

.user {
  display: flex;
  align-items: center;
}
.user__left {
  margin-right: 1rem;
}
.user__name {
  font-size: 0.75rem;
  font-weight: 500;
}
.user__state {
  opacity: 50%;
  font-size: 0.75rem;
  font-weight: 500;
}
.user__img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid #ecf2f8;
}
.user__img--border-is-violet {
  border-color: #9771dd;
}

.card {
  background-color: white;
  color: #48556a;
  padding: 1.5rem 2rem 1.5rem 2rem;
  margin-bottom: 2rem;
  border-radius: 0.75rem;
}
.card__header {
  margin-bottom: 1.5rem;
}
.card__title {
  font-size: 1.255rem;
  margin-bottom: 1.5rem;
  z-index: 999;
}
.card__content {
  opacity: 70%;
  font-weight: 500;
  font-size: 13px;
}
.card--is-violet {
  background-color: #7541c8;
  color: white;
}
.card--has-backgroundQuote {
  background-image: url(../assets/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 90% 1%;
}
.card--is-veryDarkGrayishBlue {
  background-color: #48556a;
  color: white;
}
.card--is-veryDarkBlackishBlue {
  background-color: #19212e;
  color: white;
}