@use '../config/variables' as *;
.card {
  background-color: $white;
  color: $veryDarkGrayishBlue;
  padding: 1.5rem 2rem 1.5rem 2rem;
  margin-bottom: 2rem;
  border-radius: 0.75rem;
  &__header {
    margin-bottom: 1.5rem;
  }
  &__title {
    font-size: 1.255rem;
    margin-bottom: 1.5rem;
    z-index: 999;
  }
  &__content {
    opacity: 70%;
    font-weight: 500;
    font-size: 13px;
  }
  &--is-violet {
    background-color: $moderateViolet;
    color: $white;
  }
  &--has-backgroundQuote {
    background-image: url(../assets/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 90% 1%;
    // position: relative;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   z-index: 0;
    //   top: 0;
    //   right: 1.5rem;
    //   width: 6.25rem;
    //   height: 6.25rem;
    //   background-image: url(../assets/images/bg-pattern-quotation.svg);
    //   //background-color: red;
    // }
  }
  &--is-veryDarkGrayishBlue {
    background-color: $veryDarkGrayishBlue;
    color: $white;
  }
  &--is-veryDarkBlackishBlue {
    background-color: $veryDarkBlackishBlue;
    color: $white;
  }
}
